main #slider-section {
  position: relative;
}

main #slider-section .item {
  background-image: url(/images/demo-1.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 91vh;
}

main #slider-section .item .card {
  position: relative;
  max-width: 470px;
  border-radius: 7px;
  padding: 30px;
  left: 850px;
  top: 60px;
}

main #slider-section .item .card .elementSpan {
  display: flex;
  justify-content: space-around;
}

main #slider-section .item .card .elementSpan span {
  margin: 0 15px;
}

main #slider-section .item .card .property-bottoms {
  display: flex;
  justify-content: space-between;
}

main #slider-section .item-2 {
  background-image: url(/images/demo-2.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 91vh;
}

main #slider-section .item-2 .card {
  position: relative;
  max-width: 470px;
  border-radius: 7px;
  padding: 30px;
  left: 850px;
  top: 60px;
}

main #slider-section .item-2 .card .elementSpan {
  display: flex;
  justify-content: space-around;
}

main #slider-section .item-2 .card .elementSpan span {
  margin: 0 15px;
}

main #slider-section .item-2 .card .property-bottoms {
  display: flex;
  justify-content: space-between;
}

main #slider-section .item-3 {
  background-image: url(/images/demo-3.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 91vh;
}

main #slider-section .item-3 .card {
  position: relative;
  max-width: 470px;
  border-radius: 7px;
  padding: 30px;
  left: 850px;
  top: 60px;
}

main #slider-section .item-3 .card .elementSpan {
  display: flex;
  justify-content: space-around;
}

main #slider-section .item-3 .card .elementSpan span {
  margin: 0 15px;
}

main #slider-section .item-3 .card .property-bottoms {
  display: flex;
  justify-content: space-between;
}
