header {
  background-color: #191717;
}

header .logo {
  max-width: 100%;
  height: 100px;
  padding: 30px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px;
}
