main {
  #slider-section {
    position: relative;
    .item {
      background-image: url(/images/demo-1.jpg);
      background-position: center center;
      background-size: cover;
      min-height: 91vh;

      .card {
        position: relative;
        max-width: 470px;
        border-radius: 7px;
        padding: 30px;
        left: 850px;
        top: 60px;

        .elementSpan {
          display: flex;
          justify-content: space-around;
          span {
            margin: 0 15px;
          }
          span i {
            color: #d1a570;
          }
        }
        .property-bottoms {
          display: flex;
          justify-content: space-between;
          .status span {
            background-color: #6cb6ac;
            padding: 3px;
            border-radius: 4px;
            color: white;
          }
          .featured span {
            background-color: #ff6935;
            padding: 3px;
            border-radius: 4px;
            color: white;
          }
        }
      }
    }
    .item-2 {
      background-image: url(/images/demo-2.jpg);
      background-position: center center;
      background-size: cover;
      min-height: 91vh;
      .card {
        position: relative;
        max-width: 470px;
        border-radius: 7px;
        padding: 30px;
        left: 850px;
        top: 60px;

        .elementSpan {
          display: flex;
          justify-content: space-around;
          span {
            margin: 0 15px;
          }
          span i {
            color: #d1a570;
          }
        }
        .property-bottoms {
          display: flex;
          justify-content: space-between;
          .status span {
            color: white;
            background-color: #6cb6ac;
            padding: 3px;
            border-radius: 4px;
          }
          .featured span {
            color: white;
            background-color: #ff6935;
            padding: 3px;
            border-radius: 4px;
          }
        }
      }
    }
    .item-3 {
      background-image: url(/images/demo-3.jpg);
      background-position: center center;
      background-size: cover;
      min-height: 91vh;
      .card {
        position: relative;
        max-width: 470px;
        border-radius: 7px;
        padding: 30px;
        left: 850px;
        top: 60px;

        .elementSpan {
          display: flex;
          justify-content: space-around;
          span {
            margin: 0 15px;
          }
          span i {
            color: #d1a570;
          }
        }
        .property-bottoms {
          display: flex;
          justify-content: space-between;
          span {
            color: white;
          }
          .status span {
            background-color: #6178b6;
            padding: 3px;
            border-radius: 4px;
            color: white;
          }
          .featured span {
            background-color: #ff6935;
            padding: 3px;
            border-radius: 4px;
            color: white;
          }
        }
      }
    }
  }
}
